/* Reset CSS (JANGAN DIHAPUS) */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lucida Grande";
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Ketik code Anda bawah */
.top-wrapper {
  padding: 180px 0 180px 0;
  background-image: url('images/banner.png');
  background-size: cover;
  text-align: letf;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.top-wrapper h1 {
  opacity: 0.7;
  font-size: 45px;
  letter-spacing: 5px;
  margin-bottom: 20px;
}

.top-wrapper span{
    color: #402218;
}

.top-wrapper p {
  opacity: 0.7;
  padding-top: 15px;
  margin-bottom: 3px;
}

.btn-wrapper {
  margin: 20px 0;
}

.btn-wrapper p {
  margin: 10px 0;
}

.signup {
  background-color: #402218;
}

.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
}

.btn:hover {
  opacity: 1;
}

.fa {
  margin-right: 5px;
}

header {
  height: 100px;
  width: 100%;
  background-color: rgba(255, 255, 255);
  position: fixed;
  top: 0;
  z-index: 10;
}

.logo {
  margin-top: 0px;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  background-color: rgba(255, 255, 255);
}

.header-right li{
  float: right;
  padding: 50px 33px 0px 33px;
}

.lesson-wrapper {
  height: 500px;
  padding-bottom: 80px;
  text-align: center;
  flex-direction: column;
  grid-template-columns: auto;
  grid-template-rows: auto;
}
  
.heading {
  padding-top: 60px;
  padding-bottom: 30px;
  color: #5f5d60;
}
  
.heading h2 {
  font-weight: normal;
}
  
.lesson {
  float: right;
  width: 50%;
}
  
.lesson-icon {
  position: relative;
}
  
.lesson-icon p {
  position: absolute;
  top: 90px;
  width: 100%;
  color: white;
}
  
.txt-contents {
  width: 80%;
  display: inline-block;
  margin-top: 20px;
  font-size: 15px;
  color: #b3aeb5;
}

footer{
  height: 200px;
  background-color: #f1ecc3;
  position: relative;
}

.footer-logo{
  float: left;
  padding: 30px 200px 0px 60px;
  color: #402218;
}

.footer-logo p{
  padding-bottom: 10px;
}

.footer-list{
  float: right;
  color: #402218;
  padding: 30px 200px 50px 60px;
}

.footer-list li{
  padding-bottom: 20px;
}

.main{
  height: 500px;
}